<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include ../src/TortoiseSISetup/Includes.wxi?>

  <Product
  UpgradeCode="2dfaf981-8ed4-4629-bb46-855188abc86c"
  Name='$(var.LANGNATIVE) Languagepack for TortoiseSI'
  Id='*'
  Language='1033'
  Codepage='1252'
  Version='$(var.VersionNumberInternal)'
  Manufacturer='TortoiseSI'>

    <Package Id='*' Keywords='Installer'
      Description="$LANGUI$ language pack for TortoiseSI"
      Comments='http://tortoiseSI.org/' 
      Manufacturer="PTC Inc" 
      Platform="$(var.PackagePlatforms)"  
      InstallerVersion='301' 
      Languages='1033' 
      Compressed='yes' 
      SummaryCodepage='1252' />

    <MajorUpgrade AllowDowngrades="yes" Schedule="afterInstallValidate" />

    <Media Id='1' Cabinet='langpack.cab' EmbedCab='yes' CompressionLevel="high" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" Secure="yes" />

	<Property Id="ALLUSERS" Secure="yes">1</Property>

    <?if $(var.Platform) = "x86" ?>
        <Condition Message="You are attempting to run the 32-bit installer on a 64-bit version of Windows. Please install the 64-bit version of the TortoiseSI language pack instead.">NOT Msix64</Condition>
    <?endif ?>

    <Property Id="INSTALLDIR" Secure="yes">
      <RegistrySearch Id="TSIInstallationDir" Root="HKLM" Key="Software\[Manufacturer]" Name="Directory" Type="raw" Win64="$(var.Win64YesNo)"/>
    </Property>
    <Condition Message="TortoiseSI is not installed. Please install TortoiseSI before installing the language pack">INSTALLDIR</Condition>

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='D__ProgramFilesFolder' ShortName="PFiles" Name="Program Files">
        <Directory Id='INSTALLDIR' Name='TortoiseSI'>
          <Directory Id='LanguagesFolder' Name='Languages'>
            <Component Id='Main' Guid='b01ca40a-d860-4bfd-be28-6c892fcb9863'>
              <File Id='SHELLDLL' Name='TortoiseShell$(var.COUNTRYID).dll' DiskId='1' Source='..\bin\$(var.ReleasePath)\bin\TortoiseShell$(var.COUNTRYID).dll' Vital='yes'></File>
              <File Id='PROCDLL' Name='TortoiseProc$(var.COUNTRYID).dll' DiskId='1' Source='..\bin\$(var.ReleasePath)\bin\TortoiseProc$(var.COUNTRYID).dll' Vital='yes'></File>
              
              <?if $(var.Platform) = "x64" ?>
                <File Id='SHELLDLL32' Name='TortoiseShell32$(var.COUNTRYID).dll' DiskId='1' Source='..\bin\$(var.ReleasePath32)\bin\TortoiseShell$(var.COUNTRYID).dll' Vital='yes'></File>
              <File Id='PROCDLL32' Name='TortoiseProc32$(var.COUNTRYID).dll' DiskId='1' Source='..\bin\$(var.ReleasePath32)\bin\TortoiseProc$(var.COUNTRYID).dll' Vital='yes'></File>              
              <?endif ?>
              
            </Component>
            <?if $(var.TSVNMoFile) = "$COUNTRYCODE$" ?>
            <Directory Id='SVNLANG' Name='$COUNTRYCODE$' >
              <Directory Id='LCMESG' Name='LC_MESSAGES'>
                <Component Id='SVNMO' Guid='684ac1b8-6309-4c11-9ed8-38019c04940a'>
                  <File Id='MO' Name='Subversion.mo' DiskId='1' Source='Subversion.mo' Vital='no'></File>
                </Component>
              </Directory>
            </Directory>
            <?endif?>
          </Directory>
        </Directory>
      </Directory>

    </Directory>

    <Feature Id='Complete' Title='Binaries' Description='The complete language pack.'
      Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR'>
      <Feature Id='Main' Title='Program' Description='The language pack files.' Level='1'>
        <ComponentRef Id='Main' />
        <?if $(var.TSVNMoFile) = "$COUNTRYCODE$" ?>
        <ComponentRef Id='SVNMO' />
        <?endif?>
      </Feature>
    </Feature>

    <UIRef Id="WixUI_LanguagePack" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <WixVariable Id="WixUIBannerBmp" Value="..\src\TortoiseSISetup\include\TortoiseSI-banner.jpg" />
    <WixVariable Id="WixUIDialogBmp" Value="..\src\TortoiseSISetup\include\TortoiseSI-Dialog.jpg" />



    <InstallExecuteSequence>
      <!-- These 'Suppress' statements prevent the installer from getting
           registered and from being shown in the software panel. With both
           suppressed, the installer simply copies the files without any
           trace left. -->
      <PublishProduct Suppress='yes' />
      <RegisterProduct Suppress='yes' />
      <RegisterUser Suppress='yes' />
      <PublishFeatures Suppress='yes' />
    </InstallExecuteSequence>

  </Product>
</Wix>
